<div class="min-h-dvh w-full bg-emerald-50 text-gray-800">
  <div class="mx-auto flex w-full max-w-5xl flex-col gap-2 p-2">
    <div lark-view="components/resume-header"></div>
    <div lark-view="components/section-edu"></div>
    <div lark-view="components/section-dev-abilities"></div>
    <div lark-view="components/section-job-experience"></div>
    <div lark-view="components/section-project-experience"></div>
    <div lark-view="components/section-research-experience"></div>
  </div>
</div>
